*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 64em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}
.heading-primary span {
  display: block;
}
.heading-primary--main {
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
}
@media (max-width: 30em) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  font-size: 2rem;
  letter-spacing: 1.73rem;
  font-weight: 700;
}
@media (max-width: 30em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}
@media (max-width: 48em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 30em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

@font-face {
  font-family: "linea-basic-10";
  src: url("../fonts/linea-basic-10.eot");
  src: url("../fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-basic-10.woff") format("woff"), url("../fonts/linea-basic-10.ttf") format("truetype"), url("../fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}

.icon-basic-alarm:before {
  content: "b";
}

.icon-basic-anchor:before {
  content: "c";
}

.icon-basic-anticlockwise:before {
  content: "d";
}

.icon-basic-archive:before {
  content: "e";
}

.icon-basic-archive-full:before {
  content: "f";
}

.icon-basic-ban:before {
  content: "g";
}

.icon-basic-battery-charge:before {
  content: "h";
}

.icon-basic-battery-empty:before {
  content: "i";
}

.icon-basic-battery-full:before {
  content: "j";
}

.icon-basic-battery-half:before {
  content: "k";
}

.icon-basic-bolt:before {
  content: "l";
}

.icon-basic-book:before {
  content: "m";
}

.icon-basic-book-pen:before {
  content: "n";
}

.icon-basic-book-pencil:before {
  content: "o";
}

.icon-basic-bookmark:before {
  content: "p";
}

.icon-basic-calculator:before {
  content: "q";
}

.icon-basic-calendar:before {
  content: "r";
}

.icon-basic-cards-diamonds:before {
  content: "s";
}

.icon-basic-cards-hearts:before {
  content: "t";
}

.icon-basic-case:before {
  content: "u";
}

.icon-basic-chronometer:before {
  content: "v";
}

.icon-basic-clessidre:before {
  content: "w";
}

.icon-basic-clock:before {
  content: "x";
}

.icon-basic-clockwise:before {
  content: "y";
}

.icon-basic-cloud:before {
  content: "z";
}

.icon-basic-clubs:before {
  content: "A";
}

.icon-basic-compass:before {
  content: "B";
}

.icon-basic-cup:before {
  content: "C";
}

.icon-basic-diamonds:before {
  content: "D";
}

.icon-basic-display:before {
  content: "E";
}

.icon-basic-download:before {
  content: "F";
}

.icon-basic-exclamation:before {
  content: "G";
}

.icon-basic-eye:before {
  content: "H";
}

.icon-basic-eye-closed:before {
  content: "I";
}

.icon-basic-female:before {
  content: "J";
}

.icon-basic-flag1:before {
  content: "K";
}

.icon-basic-flag2:before {
  content: "L";
}

.icon-basic-floppydisk:before {
  content: "M";
}

.icon-basic-folder:before {
  content: "N";
}

.icon-basic-folder-multiple:before {
  content: "O";
}

.icon-basic-gear:before {
  content: "P";
}

.icon-basic-geolocalize-01:before {
  content: "Q";
}

.icon-basic-geolocalize-05:before {
  content: "R";
}

.icon-basic-globe:before {
  content: "S";
}

.icon-basic-gunsight:before {
  content: "T";
}

.icon-basic-hammer:before {
  content: "U";
}

.icon-basic-headset:before {
  content: "V";
}

.icon-basic-heart:before {
  content: "W";
}

.icon-basic-heart-broken:before {
  content: "X";
}

.icon-basic-helm:before {
  content: "Y";
}

.icon-basic-home:before {
  content: "Z";
}

.icon-basic-info:before {
  content: "0";
}

.icon-basic-ipod:before {
  content: "1";
}

.icon-basic-joypad:before {
  content: "2";
}

.icon-basic-key:before {
  content: "3";
}

.icon-basic-keyboard:before {
  content: "4";
}

.icon-basic-laptop:before {
  content: "5";
}

.icon-basic-life-buoy:before {
  content: "6";
}

.icon-basic-lightbulb:before {
  content: "7";
}

.icon-basic-link:before {
  content: "8";
}

.icon-basic-lock:before {
  content: "9";
}

.icon-basic-lock-open:before {
  content: "!";
}

.icon-basic-magic-mouse:before {
  content: '"';
}

.icon-basic-magnifier:before {
  content: "#";
}

.icon-basic-magnifier-minus:before {
  content: "$";
}

.icon-basic-magnifier-plus:before {
  content: "%";
}

.icon-basic-mail:before {
  content: "&";
}

.icon-basic-mail-multiple:before {
  content: "'";
}

.icon-basic-mail-open:before {
  content: "(";
}

.icon-basic-mail-open-text:before {
  content: ")";
}

.icon-basic-male:before {
  content: "*";
}

.icon-basic-map:before {
  content: "+";
}

.icon-basic-message:before {
  content: ",";
}

.icon-basic-message-multiple:before {
  content: "-";
}

.icon-basic-message-txt:before {
  content: ".";
}

.icon-basic-mixer2:before {
  content: "/";
}

.icon-basic-mouse:before {
  content: ":";
}

.icon-basic-notebook:before {
  content: ";";
}

.icon-basic-notebook-pen:before {
  content: "<";
}

.icon-basic-notebook-pencil:before {
  content: "=";
}

.icon-basic-paperplane:before {
  content: ">";
}

.icon-basic-pencil-ruler:before {
  content: "?";
}

.icon-basic-pencil-ruler-pen:before {
  content: "@";
}

.icon-basic-photo:before {
  content: "[";
}

.icon-basic-picture:before {
  content: "]";
}

.icon-basic-picture-multiple:before {
  content: "^";
}

.icon-basic-pin1:before {
  content: "_";
}

.icon-basic-pin2:before {
  content: "`";
}

.icon-basic-postcard:before {
  content: "{";
}

.icon-basic-postcard-multiple:before {
  content: "|";
}

.icon-basic-printer:before {
  content: "}";
}

.icon-basic-question:before {
  content: "~";
}

.icon-basic-rss:before {
  content: "\\";
}

.icon-basic-server:before {
  content: "\e000";
}

.icon-basic-server2:before {
  content: "\e001";
}

.icon-basic-server-cloud:before {
  content: "\e002";
}

.icon-basic-server-download:before {
  content: "\e003";
}

.icon-basic-server-upload:before {
  content: "\e004";
}

.icon-basic-settings:before {
  content: "\e005";
}

.icon-basic-share:before {
  content: "\e006";
}

.icon-basic-sheet:before {
  content: "\e007";
}

.icon-basic-sheet-multiple:before {
  content: "\e008";
}

.icon-basic-sheet-pen:before {
  content: "\e009";
}

.icon-basic-sheet-pencil:before {
  content: "\e00a";
}

.icon-basic-sheet-txt:before {
  content: "\e00b";
}

.icon-basic-signs:before {
  content: "\e00c";
}

.icon-basic-smartphone:before {
  content: "\e00d";
}

.icon-basic-spades:before {
  content: "\e00e";
}

.icon-basic-spread:before {
  content: "\e00f";
}

.icon-basic-spread-bookmark:before {
  content: "\e010";
}

.icon-basic-spread-text:before {
  content: "\e011";
}

.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}

.icon-basic-star:before {
  content: "\e013";
}

.icon-basic-tablet:before {
  content: "\e014";
}

.icon-basic-target:before {
  content: "\e015";
}

.icon-basic-todo:before {
  content: "\e016";
}

.icon-basic-todo-pen:before {
  content: "\e017";
}

.icon-basic-todo-pencil:before {
  content: "\e018";
}

.icon-basic-todo-txt:before {
  content: "\e019";
}

.icon-basic-todolist-pen:before {
  content: "\e01a";
}

.icon-basic-todolist-pencil:before {
  content: "\e01b";
}

.icon-basic-trashcan:before {
  content: "\e01c";
}

.icon-basic-trashcan-full:before {
  content: "\e01d";
}

.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}

.icon-basic-trashcan-remove:before {
  content: "\e01f";
}

.icon-basic-upload:before {
  content: "\e020";
}

.icon-basic-usb:before {
  content: "\e021";
}

.icon-basic-video:before {
  content: "\e022";
}

.icon-basic-watch:before {
  content: "\e023";
}

.icon-basic-webpage:before {
  content: "\e024";
}

.icon-basic-webpage-img-txt:before {
  content: "\e025";
}

.icon-basic-webpage-multiple:before {
  content: "\e026";
}

.icon-basic-webpage-txt:before {
  content: "\e027";
}

.icon-basic-world:before {
  content: "\e028";
}

.popup {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  display: grid;
  place-items: center;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup__content {
  background-color: #fff;
  width: 75%;
  height: 75%;
  box-shadow: 0 2rem 4rem #000, 0.2;
  border-radius: 0.3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.3s 0.2s ease, transform 0.3s 0.2s ease;
}
.popup:target .popup__content {
  opacity: 1;
  transform: scale(1);
}
.popup__images {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
}
.popup__images > * {
  height: 50%;
}
.popup__text {
  align-self: center;
  padding: 3rem 5rem;
}
.popup__descr {
  font-size: 1.4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 0.1rem solid #eee;
  hyphens: auto;
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  line-height: 1;
}
.popup__close:hover {
  color: #55c57a;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
@media (max-width: 30em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.btn {
  display: inline-block;
  text-decoration-line: none;
  text-transform: uppercase;
  border-radius: 5rem;
  padding: 1.5rem 4rem;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--underline {
  text-transform: none;
  border-radius: 0;
  font-size: 1.6rem;
  border-bottom: 0.1rem #55c57a solid;
  color: #55c57a;
  padding: 0.3rem;
  font-weight: 700;
}

.feature {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.feature__icon {
  font-size: 6rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}
.feature .heading-tertiary {
  margin-top: -1rem;
}
.feature__text {
  font-size: 1.5rem;
}

.card {
  flex: 0 0 30rem;
  perspective: 150rem;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__side {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  backface-visibility: hidden;
  transition: transform 0.8s ease;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
.card__img {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__heading {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 13rem;
  right: 2rem;
  text-align: right;
  width: 70%;
}
.card__heading > span {
  padding: 1rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__details ul {
  list-style: none;
  width: 80%;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-of-type) {
  border-bottom: 0.1rem solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.card__price {
  color: #fff;
  font-size: 6rem;
  font-weight: 300;
}
.card__price::before {
  letter-spacing: 0.2rem;
  margin-bottom: 0;
  display: block;
  content: "Only";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: normal;
  position: relative;
  top: 1rem;
}

.card--orange .card__img {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/nat-5.jpg);
}
.card--orange .card__heading > span {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card--orange .card__side--back {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card--green .card__img {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/nat-6.jpg);
}
.card--green .card__heading > span {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card--green .card__side--back {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card--blue .card__img {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/nat-7.jpg);
}
.card--blue .card__heading > span {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card--blue .card__side--back {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  transform: skewX(-12deg);
}
.review > * {
  transform: skewX(12deg);
}
.review__author {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-right: 3rem;
  overflow: hidden;
}
.review__img {
  object-fit: cover;
  height: 100%;
  transform: scale(1.4);
  backface-visibility: hidden;
  transition: transform 0.5s, filter 0.5s;
}
.review__text {
  font-size: 1.6rem;
}
.review__name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.review:hover .review__name {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.review:hover .review__img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(80%);
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.booking {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}

.booking-box {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.booking-box__form {
  width: 60%;
  padding: 6rem;
}

.form__group {
  margin-bottom: 1rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 0.3rem solid transparent;
  width: 90%;
  display: block;
  transition: border-bottom 0.3s ease;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #ff7730;
}
.form__input::placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: opacity 0.3s, transform 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
.form__radio-label {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  position: relative;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s, z-index 0.2s, outline 0.2s;
  outline-offset: 1.5rem;
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-1rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  outline: 0.7rem solid #55c57a;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.navigation__button {
  z-index: 40;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navigation__button:hover .navigation__burger::before {
  top: -1.3rem;
}
.navigation__button:hover .navigation__burger::after {
  top: 1.3rem;
}
.navigation__checkbox {
  display: none;
}
.navigation__bg {
  z-index: 20;
  position: fixed;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__menu {
  position: fixed;
  z-index: 30;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  width: 0;
  left: 0;
  transition: opacity 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6), width 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.navigation__link {
  display: block;
}
.navigation__link:link, .navigation__link:visited {
  background-size: 225%;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: background-position 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation__link span {
  margin-right: 1.5rem;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(50);
}
.navigation__checkbox:checked ~ .navigation__menu {
  opacity: 1;
  width: 100%;
  right: 0rem;
}
.navigation__burger {
  position: relative;
}
.navigation__burger, .navigation__burger::before, .navigation__burger::after {
  width: 3rem;
  height: 0.2rem;
  background-color: #333;
  display: inline-block;
}
.navigation__burger::before, .navigation__burger::after {
  content: "";
  position: absolute;
  transition: top 0.3s ease, transform 0.3s ease;
}
.navigation__burger::before {
  top: -1rem;
}
.navigation__burger::after {
  top: 1rem;
  left: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__burger {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__burger::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__burger::after {
  transform: rotate(-135deg);
  top: 0;
}

.w-footer {
  background-color: #333;
}

.footer {
  font-size: 1.4rem;
  padding: 10rem 0;
}
.footer__logo {
  display: inline;
  width: 15rem;
}
.footer__navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #999;
  padding-top: 1.5rem;
}
.footer__link {
  color: #f7f7f7;
  text-transform: uppercase;
}
.footer__copyright {
  flex: 1;
  color: #eee;
  border-top: 0.1rem solid #999;
  padding-top: 1.5rem;
}
.footer__copyright .footer__link {
  color: #55c57a;
}

body {
  padding: 3rem;
}
@media (max-width: 48em) {
  body {
    padding: 0;
  }
}

.w-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.w-features > * {
  transform: skewY(7deg);
}

.features {
  display: flex;
  gap: 3rem;
}
@media (max-width: 48em) {
  .features {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.tours__cards {
  display: flex;
  gap: 3rem;
}
@media (max-width: 90em) {
  .tours__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__information {
  display: flex;
  gap: 3rem;
}
@media (max-width: 64em) {
  .footer__information {
    gap: 2rem;
    flex-direction: column;
  }
}

.w-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh;
}

.w-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem;
  margin-top: -20vh;
}

/*# sourceMappingURL=style.css.map */
