@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/*
 *
 *  𝗖 𝗢 𝗟 𝗢 𝗥
 *  v 1.9.1
 *
 *  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
:root {
  /*  General
     *  ─────────────────────────────────── */
  --oc-white: #ffffff;
  --oc-white-rgb: 255, 255, 255;
  --oc-black: #000000;
  --oc-black-rgb: 0, 0, 0;
  /*  Gray
     *  ─────────────────────────────────── */
  --oc-gray-0: #f8f9fa;
  --oc-gray-0-rgb: 248, 249, 250;
  --oc-gray-1: #f1f3f5;
  --oc-gray-1-rgb: 241, 243, 245;
  --oc-gray-2: #e9ecef;
  --oc-gray-2-rgb: 233, 236, 239;
  --oc-gray-3: #dee2e6;
  --oc-gray-3-rgb: 222, 226, 230;
  --oc-gray-4: #ced4da;
  --oc-gray-4-rgb: 206, 212, 218;
  --oc-gray-5: #adb5bd;
  --oc-gray-5-rgb: 173, 181, 189;
  --oc-gray-6: #868e96;
  --oc-gray-6-rgb: 134, 142, 150;
  --oc-gray-7: #495057;
  --oc-gray-7-rgb: 73, 80, 87;
  --oc-gray-8: #343a40;
  --oc-gray-8-rgb: 52, 58, 64;
  --oc-gray-9: #212529;
  --oc-gray-9-rgb: 33, 37, 41;
  /*  Red
     *  ─────────────────────────────────── */
  --oc-red-0: #fff5f5;
  --oc-red-0-rgb: 255, 245, 245;
  --oc-red-1: #ffe3e3;
  --oc-red-1-rgb: 255, 227, 227;
  --oc-red-2: #ffc9c9;
  --oc-red-2-rgb: 255, 201, 201;
  --oc-red-3: #ffa8a8;
  --oc-red-3-rgb: 255, 168, 168;
  --oc-red-4: #ff8787;
  --oc-red-4-rgb: 255, 135, 135;
  --oc-red-5: #ff6b6b;
  --oc-red-5-rgb: 255, 107, 107;
  --oc-red-6: #fa5252;
  --oc-red-6-rgb: 250, 82, 82;
  --oc-red-7: #f03e3e;
  --oc-red-7-rgb: 240, 62, 62;
  --oc-red-8: #e03131;
  --oc-red-8-rgb: 224, 49, 49;
  --oc-red-9: #c92a2a;
  --oc-red-9-rgb: 201, 42, 42;
  /*  Pink
     *  ─────────────────────────────────── */
  --oc-pink-0: #fff0f6;
  --oc-pink-0-rgb: 255, 240, 246;
  --oc-pink-1: #ffdeeb;
  --oc-pink-1-rgb: 255, 222, 235;
  --oc-pink-2: #fcc2d7;
  --oc-pink-2-rgb: 252, 194, 215;
  --oc-pink-3: #faa2c1;
  --oc-pink-3-rgb: 250, 162, 193;
  --oc-pink-4: #f783ac;
  --oc-pink-4-rgb: 247, 131, 172;
  --oc-pink-5: #f06595;
  --oc-pink-5-rgb: 240, 101, 149;
  --oc-pink-6: #e64980;
  --oc-pink-6-rgb: 230, 73, 128;
  --oc-pink-7: #d6336c;
  --oc-pink-7-rgb: 214, 51, 108;
  --oc-pink-8: #c2255c;
  --oc-pink-8-rgb: 194, 37, 92;
  --oc-pink-9: #a61e4d;
  --oc-pink-9-rgb: 166, 30, 77;
  /*  Grape
     *  ─────────────────────────────────── */
  --oc-grape-0: #f8f0fc;
  --oc-grape-0-rgb: 248, 240, 252;
  --oc-grape-1: #f3d9fa;
  --oc-grape-1-rgb: 243, 217, 250;
  --oc-grape-2: #eebefa;
  --oc-grape-2-rgb: 238, 190, 250;
  --oc-grape-3: #e599f7;
  --oc-grape-3-rgb: 229, 153, 247;
  --oc-grape-4: #da77f2;
  --oc-grape-4-rgb: 218, 119, 242;
  --oc-grape-5: #cc5de8;
  --oc-grape-5-rgb: 204, 93, 232;
  --oc-grape-6: #be4bdb;
  --oc-grape-6-rgb: 190, 75, 219;
  --oc-grape-7: #ae3ec9;
  --oc-grape-7-rgb: 174, 62, 201;
  --oc-grape-8: #9c36b5;
  --oc-grape-8-rgb: 156, 54, 181;
  --oc-grape-9: #862e9c;
  --oc-grape-9-rgb: 134, 46, 156;
  /*  Violet
     *  ─────────────────────────────────── */
  --oc-violet-0: #f3f0ff;
  --oc-violet-0-rgb: 243, 240, 255;
  --oc-violet-1: #e5dbff;
  --oc-violet-1-rgb: 229, 219, 255;
  --oc-violet-2: #d0bfff;
  --oc-violet-2-rgb: 208, 191, 255;
  --oc-violet-3: #b197fc;
  --oc-violet-3-rgb: 177, 151, 252;
  --oc-violet-4: #9775fa;
  --oc-violet-4-rgb: 151, 117, 250;
  --oc-violet-5: #845ef7;
  --oc-violet-5-rgb: 132, 94, 247;
  --oc-violet-6: #7950f2;
  --oc-violet-6-rgb: 121, 80, 242;
  --oc-violet-7: #7048e8;
  --oc-violet-7-rgb: 112, 72, 232;
  --oc-violet-8: #6741d9;
  --oc-violet-8-rgb: 103, 65, 217;
  --oc-violet-9: #5f3dc4;
  --oc-violet-9-rgb: 95, 61, 196;
  /*  Indigo
     *  ─────────────────────────────────── */
  --oc-indigo-0: #edf2ff;
  --oc-indigo-0-rgb: 237, 242, 255;
  --oc-indigo-1: #dbe4ff;
  --oc-indigo-1-rgb: 219, 228, 255;
  --oc-indigo-2: #bac8ff;
  --oc-indigo-2-rgb: 186, 200, 255;
  --oc-indigo-3: #91a7ff;
  --oc-indigo-3-rgb: 145, 167, 255;
  --oc-indigo-4: #748ffc;
  --oc-indigo-4-rgb: 116, 143, 252;
  --oc-indigo-5: #5c7cfa;
  --oc-indigo-5-rgb: 92, 124, 250;
  --oc-indigo-6: #4c6ef5;
  --oc-indigo-6-rgb: 76, 110, 245;
  --oc-indigo-7: #4263eb;
  --oc-indigo-7-rgb: 66, 99, 235;
  --oc-indigo-8: #3b5bdb;
  --oc-indigo-8-rgb: 59, 91, 219;
  --oc-indigo-9: #364fc7;
  --oc-indigo-9-rgb: 54, 79, 199;
  /*  Blue
     *  ─────────────────────────────────── */
  --oc-blue-0: #e7f5ff;
  --oc-blue-0-rgb: 231, 245, 255;
  --oc-blue-1: #d0ebff;
  --oc-blue-1-rgb: 208, 235, 255;
  --oc-blue-2: #a5d8ff;
  --oc-blue-2-rgb: 165, 216, 255;
  --oc-blue-3: #74c0fc;
  --oc-blue-3-rgb: 116, 192, 252;
  --oc-blue-4: #4dabf7;
  --oc-blue-4-rgb: 77, 171, 247;
  --oc-blue-5: #339af0;
  --oc-blue-5-rgb: 51, 154, 240;
  --oc-blue-6: #228be6;
  --oc-blue-6-rgb: 34, 139, 230;
  --oc-blue-7: #1c7ed6;
  --oc-blue-7-rgb: 28, 126, 214;
  --oc-blue-8: #1971c2;
  --oc-blue-8-rgb: 25, 113, 194;
  --oc-blue-9: #1864ab;
  --oc-blue-9-rgb: 24, 100, 171;
  /*  Cyan
     *  ─────────────────────────────────── */
  --oc-cyan-0: #e3fafc;
  --oc-cyan-0-rgb: 227, 250, 252;
  --oc-cyan-1: #c5f6fa;
  --oc-cyan-1-rgb: 197, 246, 250;
  --oc-cyan-2: #99e9f2;
  --oc-cyan-2-rgb: 153, 233, 242;
  --oc-cyan-3: #66d9e8;
  --oc-cyan-3-rgb: 102, 217, 232;
  --oc-cyan-4: #3bc9db;
  --oc-cyan-4-rgb: 59, 201, 219;
  --oc-cyan-5: #22b8cf;
  --oc-cyan-5-rgb: 34, 184, 207;
  --oc-cyan-6: #15aabf;
  --oc-cyan-6-rgb: 21, 170, 191;
  --oc-cyan-7: #1098ad;
  --oc-cyan-7-rgb: 16, 152, 173;
  --oc-cyan-8: #0c8599;
  --oc-cyan-8-rgb: 12, 133, 153;
  --oc-cyan-9: #0b7285;
  --oc-cyan-9-rgb: 11, 114, 133;
  /*  Teal
     *  ─────────────────────────────────── */
  --oc-teal-0: #e6fcf5;
  --oc-teal-0-rgb: 230, 252, 245;
  --oc-teal-1: #c3fae8;
  --oc-teal-1-rgb: 195, 250, 232;
  --oc-teal-2: #96f2d7;
  --oc-teal-2-rgb: 150, 242, 215;
  --oc-teal-3: #63e6be;
  --oc-teal-3-rgb: 99, 230, 190;
  --oc-teal-4: #38d9a9;
  --oc-teal-4-rgb: 56, 217, 169;
  --oc-teal-5: #20c997;
  --oc-teal-5-rgb: 32, 201, 151;
  --oc-teal-6: #12b886;
  --oc-teal-6-rgb: 18, 184, 134;
  --oc-teal-7: #0ca678;
  --oc-teal-7-rgb: 12, 166, 120;
  --oc-teal-8: #099268;
  --oc-teal-8-rgb: 9, 146, 104;
  --oc-teal-9: #087f5b;
  --oc-teal-9-rgb: 8, 127, 91;
  /*  Green
     *  ─────────────────────────────────── */
  --oc-green-0: #ebfbee;
  --oc-green-0-rgb: 235, 251, 238;
  --oc-green-1: #d3f9d8;
  --oc-green-1-rgb: 211, 249, 216;
  --oc-green-2: #b2f2bb;
  --oc-green-2-rgb: 178, 242, 187;
  --oc-green-3: #8ce99a;
  --oc-green-3-rgb: 140, 233, 154;
  --oc-green-4: #69db7c;
  --oc-green-4-rgb: 105, 219, 124;
  --oc-green-5: #51cf66;
  --oc-green-5-rgb: 81, 207, 102;
  --oc-green-6: #40c057;
  --oc-green-6-rgb: 64, 192, 87;
  --oc-green-7: #37b24d;
  --oc-green-7-rgb: 55, 178, 77;
  --oc-green-8: #2f9e44;
  --oc-green-8-rgb: 47, 158, 68;
  --oc-green-9: #2b8a3e;
  --oc-green-9-rgb: 43, 138, 62;
  /*  Lime
     *  ─────────────────────────────────── */
  --oc-lime-0: #f4fce3;
  --oc-lime-0-rgb: 244, 252, 227;
  --oc-lime-1: #e9fac8;
  --oc-lime-1-rgb: 233, 250, 200;
  --oc-lime-2: #d8f5a2;
  --oc-lime-2-rgb: 216, 245, 162;
  --oc-lime-3: #c0eb75;
  --oc-lime-3-rgb: 192, 235, 117;
  --oc-lime-4: #a9e34b;
  --oc-lime-4-rgb: 169, 227, 75;
  --oc-lime-5: #94d82d;
  --oc-lime-5-rgb: 148, 216, 45;
  --oc-lime-6: #82c91e;
  --oc-lime-6-rgb: 130, 201, 30;
  --oc-lime-7: #74b816;
  --oc-lime-7-rgb: 116, 184, 22;
  --oc-lime-8: #66a80f;
  --oc-lime-8-rgb: 102, 168, 15;
  --oc-lime-9: #5c940d;
  --oc-lime-9-rgb: 92, 148, 13;
  /*  Yellow
     *  ─────────────────────────────────── */
  --oc-yellow-0: #fff9db;
  --oc-yellow-0-rgb: 255, 249, 219;
  --oc-yellow-1: #fff3bf;
  --oc-yellow-1-rgb: 255, 243, 191;
  --oc-yellow-2: #ffec99;
  --oc-yellow-2-rgb: 255, 236, 153;
  --oc-yellow-3: #ffe066;
  --oc-yellow-3-rgb: 255, 224, 102;
  --oc-yellow-4: #ffd43b;
  --oc-yellow-4-rgb: 255, 212, 59;
  --oc-yellow-5: #fcc419;
  --oc-yellow-5-rgb: 252, 196, 25;
  --oc-yellow-6: #fab005;
  --oc-yellow-6-rgb: 250, 176, 5;
  --oc-yellow-7: #f59f00;
  --oc-yellow-7-rgb: 245, 159, 0;
  --oc-yellow-8: #f08c00;
  --oc-yellow-8-rgb: 240, 140, 0;
  --oc-yellow-9: #e67700;
  --oc-yellow-9-rgb: 230, 119, 0;
  /*  Orange
     *  ─────────────────────────────────── */
  --oc-orange-0: #fff4e6;
  --oc-orange-0-rgb: 255, 244, 230;
  --oc-orange-1: #ffe8cc;
  --oc-orange-1-rgb: 255, 232, 204;
  --oc-orange-2: #ffd8a8;
  --oc-orange-2-rgb: 255, 216, 168;
  --oc-orange-3: #ffc078;
  --oc-orange-3-rgb: 255, 192, 120;
  --oc-orange-4: #ffa94d;
  --oc-orange-4-rgb: 255, 169, 77;
  --oc-orange-5: #ff922b;
  --oc-orange-5-rgb: 255, 146, 43;
  --oc-orange-6: #fd7e14;
  --oc-orange-6-rgb: 253, 126, 20;
  --oc-orange-7: #f76707;
  --oc-orange-7-rgb: 247, 103, 7;
  --oc-orange-8: #e8590c;
  --oc-orange-8-rgb: 232, 89, 12;
  --oc-orange-9: #d9480f;
  --oc-orange-9-rgb: 217, 72, 15;
}

:root {
  --kegel-1: 1rem;
  --kegel-2: 1.125rem;
  --kegel-3: 1.25rem;
  --kegel-4: 1.425rem;
  --kegel-5: 1.6rem;
  --kegel-6: 1.8rem;
  --kegel-7: 2rem;
  --kegel-8: 2.3rem;
  --kegel-9: 2.5rem;
  --kegel-10: 2.9rem;
  --kegel-11: 3.25rem;
  --kegel-12: 3.65rem;
  --kegel-13: 4.1rem;
  --kegel-14: 4.625rem;
  --kegel-15: 5.2rem;
  --space-1: 6.6rem;
  --space-2: 7.4rem;
  --space-3: 8.33rem;
  --space-4: 9.4rem;
  --space-5: 10.5rem;
  --space-6: 11.9rem;
  --space-7: 13.3rem;
  --space-8: 15rem;
  --space-9: 16.9rem;
  --space-10: 19rem;
  --space-11: 21.4rem;
  --space-12: 24rem;
  --space-13: 27rem;
  --space-14: 30.4rem;
  --space-15: 35rem;
  --height-1: 1.1;
  --height-3: 1.3;
  --height-5: 1.5;
  --height-7: 1.7;
  --height-9: 1.9;
  --weight-4: 400;
  --weight-5: 500;
  --weight-6: 600;
  --weight-7: 700;
  --weight-8: 800;
  --weight-9: 900;
}

html {
  font-size: 62.5%;
}
@media (max-width: 64em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: var(--kegel-5);
  line-height: var(--height-5);
  color: var(--oc-gray-7);
}

.heading-primary {
  color: var(--oc-white);
  text-transform: uppercase;
}
.heading-primary span {
  display: block;
}
.heading-primary--main {
  font-size: var(--space-1);
  letter-spacing: var(--kegel-12);
  font-weight: var(--weight-4);
}
@media (max-width: 30em) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  font-size: var(--kegel-7);
  letter-spacing: var(--kegel-6);
  font-weight: var(--weight-7);
}
@media (max-width: 30em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: var(--kegel-11);
  text-transform: uppercase;
  font-weight: var(--weight-7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, var(--oc-green-4), var(--oc-teal-7));
}
@media (max-width: 48em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 30em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: var(--kegel-5);
  font-weight: var(--weight-7);
  text-transform: uppercase;
}

.about__text {
  font-size: var(--kegel-5);
  margin-bottom: 3rem;
}

@font-face {
  font-family: "linea-basic-10";
  src: url("../fonts/linea-basic-10.eot");
  src: url("../fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-basic-10.woff") format("woff"), url("../fonts/linea-basic-10.ttf") format("truetype"), url("../fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}

.icon-basic-alarm:before {
  content: "b";
}

.icon-basic-anchor:before {
  content: "c";
}

.icon-basic-anticlockwise:before {
  content: "d";
}

.icon-basic-archive:before {
  content: "e";
}

.icon-basic-archive-full:before {
  content: "f";
}

.icon-basic-ban:before {
  content: "g";
}

.icon-basic-battery-charge:before {
  content: "h";
}

.icon-basic-battery-empty:before {
  content: "i";
}

.icon-basic-battery-full:before {
  content: "j";
}

.icon-basic-battery-half:before {
  content: "k";
}

.icon-basic-bolt:before {
  content: "l";
}

.icon-basic-book:before {
  content: "m";
}

.icon-basic-book-pen:before {
  content: "n";
}

.icon-basic-book-pencil:before {
  content: "o";
}

.icon-basic-bookmark:before {
  content: "p";
}

.icon-basic-calculator:before {
  content: "q";
}

.icon-basic-calendar:before {
  content: "r";
}

.icon-basic-cards-diamonds:before {
  content: "s";
}

.icon-basic-cards-hearts:before {
  content: "t";
}

.icon-basic-case:before {
  content: "u";
}

.icon-basic-chronometer:before {
  content: "v";
}

.icon-basic-clessidre:before {
  content: "w";
}

.icon-basic-clock:before {
  content: "x";
}

.icon-basic-clockwise:before {
  content: "y";
}

.icon-basic-cloud:before {
  content: "z";
}

.icon-basic-clubs:before {
  content: "A";
}

.icon-basic-compass:before {
  content: "B";
}

.icon-basic-cup:before {
  content: "C";
}

.icon-basic-diamonds:before {
  content: "D";
}

.icon-basic-display:before {
  content: "E";
}

.icon-basic-download:before {
  content: "F";
}

.icon-basic-exclamation:before {
  content: "G";
}

.icon-basic-eye:before {
  content: "H";
}

.icon-basic-eye-closed:before {
  content: "I";
}

.icon-basic-female:before {
  content: "J";
}

.icon-basic-flag1:before {
  content: "K";
}

.icon-basic-flag2:before {
  content: "L";
}

.icon-basic-floppydisk:before {
  content: "M";
}

.icon-basic-folder:before {
  content: "N";
}

.icon-basic-folder-multiple:before {
  content: "O";
}

.icon-basic-gear:before {
  content: "P";
}

.icon-basic-geolocalize-01:before {
  content: "Q";
}

.icon-basic-geolocalize-05:before {
  content: "R";
}

.icon-basic-globe:before {
  content: "S";
}

.icon-basic-gunsight:before {
  content: "T";
}

.icon-basic-hammer:before {
  content: "U";
}

.icon-basic-headset:before {
  content: "V";
}

.icon-basic-heart:before {
  content: "W";
}

.icon-basic-heart-broken:before {
  content: "X";
}

.icon-basic-helm:before {
  content: "Y";
}

.icon-basic-home:before {
  content: "Z";
}

.icon-basic-info:before {
  content: "0";
}

.icon-basic-ipod:before {
  content: "1";
}

.icon-basic-joypad:before {
  content: "2";
}

.icon-basic-key:before {
  content: "3";
}

.icon-basic-keyboard:before {
  content: "4";
}

.icon-basic-laptop:before {
  content: "5";
}

.icon-basic-life-buoy:before {
  content: "6";
}

.icon-basic-lightbulb:before {
  content: "7";
}

.icon-basic-link:before {
  content: "8";
}

.icon-basic-lock:before {
  content: "9";
}

.icon-basic-lock-open:before {
  content: "!";
}

.icon-basic-magic-mouse:before {
  content: '"';
}

.icon-basic-magnifier:before {
  content: "#";
}

.icon-basic-magnifier-minus:before {
  content: "$";
}

.icon-basic-magnifier-plus:before {
  content: "%";
}

.icon-basic-mail:before {
  content: "&";
}

.icon-basic-mail-multiple:before {
  content: "'";
}

.icon-basic-mail-open:before {
  content: "(";
}

.icon-basic-mail-open-text:before {
  content: ")";
}

.icon-basic-male:before {
  content: "*";
}

.icon-basic-map:before {
  content: "+";
}

.icon-basic-message:before {
  content: ",";
}

.icon-basic-message-multiple:before {
  content: "-";
}

.icon-basic-message-txt:before {
  content: ".";
}

.icon-basic-mixer2:before {
  content: "/";
}

.icon-basic-mouse:before {
  content: ":";
}

.icon-basic-notebook:before {
  content: ";";
}

.icon-basic-notebook-pen:before {
  content: "<";
}

.icon-basic-notebook-pencil:before {
  content: "=";
}

.icon-basic-paperplane:before {
  content: ">";
}

.icon-basic-pencil-ruler:before {
  content: "?";
}

.icon-basic-pencil-ruler-pen:before {
  content: "@";
}

.icon-basic-photo:before {
  content: "[";
}

.icon-basic-picture:before {
  content: "]";
}

.icon-basic-picture-multiple:before {
  content: "^";
}

.icon-basic-pin1:before {
  content: "_";
}

.icon-basic-pin2:before {
  content: "`";
}

.icon-basic-postcard:before {
  content: "{";
}

.icon-basic-postcard-multiple:before {
  content: "|";
}

.icon-basic-printer:before {
  content: "}";
}

.icon-basic-question:before {
  content: "~";
}

.icon-basic-rss:before {
  content: "\\";
}

.icon-basic-server:before {
  content: "\e000";
}

.icon-basic-server2:before {
  content: "\e001";
}

.icon-basic-server-cloud:before {
  content: "\e002";
}

.icon-basic-server-download:before {
  content: "\e003";
}

.icon-basic-server-upload:before {
  content: "\e004";
}

.icon-basic-settings:before {
  content: "\e005";
}

.icon-basic-share:before {
  content: "\e006";
}

.icon-basic-sheet:before {
  content: "\e007";
}

.icon-basic-sheet-multiple:before {
  content: "\e008";
}

.icon-basic-sheet-pen:before {
  content: "\e009";
}

.icon-basic-sheet-pencil:before {
  content: "\e00a";
}

.icon-basic-sheet-txt:before {
  content: "\e00b";
}

.icon-basic-signs:before {
  content: "\e00c";
}

.icon-basic-smartphone:before {
  content: "\e00d";
}

.icon-basic-spades:before {
  content: "\e00e";
}

.icon-basic-spread:before {
  content: "\e00f";
}

.icon-basic-spread-bookmark:before {
  content: "\e010";
}

.icon-basic-spread-text:before {
  content: "\e011";
}

.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}

.icon-basic-star:before {
  content: "\e013";
}

.icon-basic-tablet:before {
  content: "\e014";
}

.icon-basic-target:before {
  content: "\e015";
}

.icon-basic-todo:before {
  content: "\e016";
}

.icon-basic-todo-pen:before {
  content: "\e017";
}

.icon-basic-todo-pencil:before {
  content: "\e018";
}

.icon-basic-todo-txt:before {
  content: "\e019";
}

.icon-basic-todolist-pen:before {
  content: "\e01a";
}

.icon-basic-todolist-pencil:before {
  content: "\e01b";
}

.icon-basic-trashcan:before {
  content: "\e01c";
}

.icon-basic-trashcan-full:before {
  content: "\e01d";
}

.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}

.icon-basic-trashcan-remove:before {
  content: "\e01f";
}

.icon-basic-upload:before {
  content: "\e020";
}

.icon-basic-usb:before {
  content: "\e021";
}

.icon-basic-video:before {
  content: "\e022";
}

.icon-basic-watch:before {
  content: "\e023";
}

.icon-basic-webpage:before {
  content: "\e024";
}

.icon-basic-webpage-img-txt:before {
  content: "\e025";
}

.icon-basic-webpage-multiple:before {
  content: "\e026";
}

.icon-basic-webpage-txt:before {
  content: "\e027";
}

.icon-basic-world:before {
  content: "\e028";
}

.popup {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  display: grid;
  place-items: center;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup__content {
  background-color: #fff;
  width: 75%;
  height: 75%;
  box-shadow: 0 2rem 4rem #000, 0.2;
  border-radius: 0.3rem;
  display: flex;
  overflow: hidden;
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.3s 0.2s ease, transform 0.3s 0.2s ease;
}
.popup:target .popup__content {
  opacity: 1;
  transform: scale(1);
}
.popup__images {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
}
.popup__images > * {
  height: 50%;
}
.popup__text {
  align-self: center;
  padding: 3rem 5rem;
}
.popup__descr {
  font-size: 1.4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 0.1rem solid #eee;
  hyphens: auto;
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  line-height: 1;
}
.popup__close:hover {
  color: #55c57a;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(var(--oc-green-5-rgb), 0.8), rgba(var(--oc-teal-7-rgb), 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
@media (max-width: 30em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.btn {
  display: inline-block;
  text-decoration-line: none;
  text-transform: uppercase;
  border-radius: 5rem;
  padding: 1.5rem 4rem;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--underline {
  text-transform: none;
  border-radius: 0;
  font-size: 1.6rem;
  border-bottom: 0.1rem #55c57a solid;
  color: #55c57a;
  padding: 0.3rem;
  font-weight: 700;
}

.feature {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.feature__icon {
  font-size: 6rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}
.feature .heading-tertiary {
  margin-top: -1rem;
}
.feature__text {
  font-size: 1.5rem;
}

.card {
  flex: 0 0 30rem;
  perspective: 150rem;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__side {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  backface-visibility: hidden;
  transition: transform 0.8s ease;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
.card__img {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__heading {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 13rem;
  right: 2rem;
  text-align: right;
  width: 70%;
}
.card__heading > span {
  padding: 1rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__details ul {
  list-style: none;
  width: 80%;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-of-type) {
  border-bottom: 0.1rem solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.card__price {
  color: #fff;
  font-size: 6rem;
  font-weight: 300;
}
.card__price::before {
  letter-spacing: 0.2rem;
  margin-bottom: 0;
  display: block;
  content: "Only";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: normal;
  position: relative;
  top: 1rem;
}

.card--orange .card__img {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card--orange .card__heading > span {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card--orange .card__side--back {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card--green .card__img {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.card--green .card__heading > span {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card--green .card__side--back {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card--blue .card__img {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card--blue .card__heading > span {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card--blue .card__side--back {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  transform: skewX(-12deg);
}
.review > * {
  transform: skewX(12deg);
}
.review__author {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-right: 3rem;
  overflow: hidden;
}
.review__img {
  object-fit: cover;
  height: 100%;
  transform: scale(1.4);
  backface-visibility: hidden;
  transition: transform 0.5s, filter 0.5s;
}
.review__text {
  font-size: 1.6rem;
}
.review__name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.review:hover .review__name {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.review:hover .review__img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(80%);
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.booking {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}

.booking-box {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.booking-box__form {
  width: 60%;
  padding: 6rem;
}

.form__group {
  margin-bottom: 1rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 0.3rem solid transparent;
  width: 90%;
  display: block;
  transition: border-bottom 0.3s ease;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #ff7730;
}
.form__input::placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: opacity 0.3s, transform 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
.form__radio-label {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  position: relative;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s, z-index 0.2s, outline 0.2s;
  outline-offset: 1.5rem;
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-1rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  outline: 0.7rem solid #55c57a;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.navigation__button {
  z-index: 40;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navigation__button:hover .navigation__burger::before {
  top: -1.3rem;
}
.navigation__button:hover .navigation__burger::after {
  top: 1.3rem;
}
.navigation__checkbox {
  display: none;
}
.navigation__bg {
  z-index: 20;
  position: fixed;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__menu {
  position: fixed;
  z-index: 30;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  width: 0;
  left: 0;
  transition: opacity 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6), width 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.navigation__link {
  display: block;
}
.navigation__link:link, .navigation__link:visited {
  background-size: 225%;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: background-position 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation__link span {
  margin-right: 1.5rem;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(50);
}
.navigation__checkbox:checked ~ .navigation__menu {
  opacity: 1;
  width: 100%;
  right: 0rem;
}
.navigation__burger {
  position: relative;
}
.navigation__burger, .navigation__burger::before, .navigation__burger::after {
  width: 3rem;
  height: 0.2rem;
  background-color: #333;
  display: inline-block;
}
.navigation__burger::before, .navigation__burger::after {
  content: "";
  position: absolute;
  transition: top 0.3s ease, transform 0.3s ease;
}
.navigation__burger::before {
  top: -1rem;
}
.navigation__burger::after {
  top: 1rem;
  left: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__burger {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__burger::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__burger::after {
  transform: rotate(-135deg);
  top: 0;
}

.w-footer {
  background-color: #333;
}

.footer {
  font-size: 1.4rem;
  padding: 10rem 0;
}
.footer__logo {
  display: inline;
  width: 15rem;
}
.footer__navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #999;
  padding-top: 1.5rem;
}
.footer__link {
  color: #f7f7f7;
  text-transform: uppercase;
}
.footer__copyright {
  flex: 1;
  color: #eee;
  border-top: 0.1rem solid #999;
  padding-top: 1.5rem;
}
.footer__copyright .footer__link {
  color: #55c57a;
}

body {
  padding: 3rem;
}
@media (max-width: 48em) {
  body {
    padding: 0;
  }
}

.w-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.w-features > * {
  transform: skewY(7deg);
}

.features {
  display: flex;
  gap: 3rem;
}
@media (max-width: 48em) {
  .features {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.tours__cards {
  display: flex;
  gap: 3rem;
}
@media (max-width: 90em) {
  .tours__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__information {
  display: flex;
  gap: 3rem;
}
@media (max-width: 64em) {
  .footer__information {
    gap: 2rem;
    flex-direction: column;
  }
}

.w-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh;
}

.w-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem;
  margin-top: -20vh;
}

/*# sourceMappingURL=style.css.map */
