@use "../abstracts" as *;

body {
  padding: 3rem;
  @include mq(md) {
    padding: 0;
  }
}

.w-features {
  padding: 25rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.features {
  display: flex;
  gap: 3rem;
  @include mq(md) {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.tours__cards {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  @include mq(xl) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__information {
  display: flex;
  gap: 3rem;
  @include mq(lg) {
    gap: 2rem;
    flex-direction: column;
  }
}
