@use "../abstracts" as *;

html {
  font-size: 62.5%;
  @include mq(lg) {
    font-size: 56.25%;
  }
  @include mq(md) {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: var(--kegel-5);
  line-height: var(--height-5);
  color: var(--oc-gray-7);
}

.heading-primary {
  color: var(--oc-white);
  text-transform: uppercase;

  span {
    display: block;
  }

  &--main {
    font-size: var(--space-1);
    letter-spacing: var(--kegel-12);
    font-weight: var(--weight-4);
    @include mq(sm) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    font-size: var(--kegel-7);
    letter-spacing: var(--kegel-6);
    font-weight: var(--weight-7);
    @include mq(sm) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: var(--kegel-11);
  text-transform: uppercase;
  font-weight: var(--weight-7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  @include mq(md) {
    font-size: 3rem;
  }
  @include mq(sm) {
    font-size: 2.5rem;
  }

  background-image: linear-gradient(
    to right,
    var(--oc-green-4),
    var(--oc-teal-7)
  );
}

.heading-tertiary {
  font-size: var(--kegel-5);
  font-weight: var(--weight-7);
  text-transform: uppercase;
}

.about__text {
  font-size: var(--kegel-5);
  margin-bottom: 3rem;
}
